/* reset css  */
html, body, div, span, applet, object, iframe,
blockquote, pre,p,h1,h3,h4,span,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


/* fin reset  */

/* ====================================================== */
/* ================== Générales ========================= */
/* ====================================================== */



.d-flex {
  display: flex;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

.d-flex-colum {
  display: flex;
  flex-direction: column;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.primary {
  color:#0065FC;
}

.bg-primary {
  background-color: #0065FC;
}

.secondary {
  color: #F2F2F2;
}

.bg-secondary {
  background-color: #F2F2F2;
}

.secondary2 {
  color: #D9D9D9;
}

.bg-secondary2 {
  background-color: #D9D9D9;
}

.img-fluid {
  width:100%;
}

.w-100 {
  width:100%;
}



body {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Raleway', sans-serif;
    box-sizing:border-box;
}

/* ====================================================== */
/* ================== Header ============================ */
/* ====================================================== */
header {
    justify-content: space-between;
}

.nav-logo img {
    height: 50px;
    width: auto;
}

.nav-link {
    list-style-type: none;
}

.nav-link li {
    margin-left: 20px;
}

.nav-link li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    border-top: 1px solid transparent;
}

.nav-link li a:hover {
    transition-delay: 0.3s;
    border-top: 1px solid #0065FC;
    color:#0065FC;
}

nav {
    justify-content: flex-end;
}

/* ====================================================== */
/* ================== Section recherche ================= */
/* ====================================================== */

.recherche {
    margin-top: 30px;
    margin-bottom: 30px;
}

.title-recherche {
  padding-left: 0;
}

.recherche-title {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
}

.recherche-text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    padding-top: 10px;
}

.search-bar {
    margin-top: 35px;
}

.search {
    width: 377px;
    height: 49px;
}
.icon-search-bar {
    margin-left: 0;
    width: 50px;
    height: 49px;
    padding: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.input-text {
    height: 49px;
    border: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
}

.btn-search-bar {
    height: 49px;
    border-radius: 0px 15px 15px 0px;
    color: white;
    border-color: #0065FC;
    padding: 14px;

}

.filter {
    margin-top: 30px;
    padding: 4px 19px;
    gap: 10px;
    margin-bottom: 20px;
}

.title-filter {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.btn-filter {
    padding: 15px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid lightgray;

}

.btn-filter:hover {
    background-color: #DEEBFF;
}

.btn-title {
    margin-left: 10px;
    font-weight: bold;
}

.info p {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-left: 10px;
  width: 100%;
  align-items: center;
}


.info i {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    padding: 7px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid #D9D9D9;
    align-items: center;
}

/* ====================================================== */
/* ================== Hébergements ====================== */
/* ====================================================== */

.section-hebergement {
    gap: 40px;
}
.hebergement {
    align-items: stretch;
    padding: 30px;
    gap: 30px;
    width: 871px;
    height: 611.5px;
    border-radius: 15px;
    margin-bottom: 55px;
    float: right;
    width: 100%;
    clear: right; 
}

.hebergement-title {
    align-items: flex-start;
}

a {
  text-decoration: none;
  color: black
}

.card-row {
    gap: 30px;
    
}

.card-row2 {
    gap: 30px;
    margin-top: 30px
}

.card-body {
    width: 225px;
    height: 230px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.card-body h4 {
  font-weight: bold;
  width: 90%;
  text-align: start;
}

.card-body p {
  width: 90%;
  text-align: start;
}

.card-row {
    gap: 30px;
}

.img-card {
    box-sizing: border-box;
    width: 215px;
    height: 120px;
    border: 3px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

.euro {
  font-weight: bolder;
}

.stars i {
  font-size: 12px;
}


/* ====================================================== */
/* ================== Les plus populaires =============== */
/* ====================================================== */

.populaire {
    align-items:  stretch; 
    padding: 30px;
    gap: 30px;
    width: 429px;
    height: 611.5px;
    border-radius: 15px;
    margin-bottom: 55px;
    float: left;
}

.card2  {
    align-items:  stretch;
    gap: 30px;
}

.card-body2 {
    padding: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}



.img-card2 {
    box-sizing: border-box;
    width: 123px;
    height: 144px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

.card-text2 {
    padding: 10px;
}

#icon-populaire {
    align-items: end;
    margin-left: 150px;
}

.stars2 i {
  margin-top: auto;
}

/* ====================================================== */
/* ================== Activités ========================= */
/* ====================================================== */

.activite {
    align-items:  stretch;
}

.img-card3 {
    box-sizing: border-box;
    width: 270px;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.card3 {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 19px;
    gap: 30px;
    border-radius: 20px;
}

.card-body3 {
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.content-card {
    padding-left: 15px;
}

.card-title3 {
    margin-bottom: 30px;
}

/* ====================================================== */
/* ================== Footer ============================ */
/* ====================================================== */


.footer {
    justify-content: flex-start;
    align-items:  stretch;
    padding: 0px;
    width: 100%;
    height: 163px;
    background: #F2F2F2;
    gap: 300px;
}

.footer-propos {
    padding-left: 10px;
}

.footer-hebergement {
    padding-left: 10px;
}

.footer-assistance {
    padding-left: 10px;
}



/* ====================================================== */
/* ================== Media query  ====================== */
/* ====================================================== */


@media screen and (min-width: 300px) and (max-width: 575px)  { 

  body {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100vw !important;
}



  .btn-filter {
    width: 35% !important;
    padding: 7px; 
    margin-bottom: 20px;
    margin-right: 20px; 
  } 

  .title-filter {
    text-align: left;
    margin-left: 7px !important;
  }

  .btn-title {
    font-size: 0.7em;
    padding: 0;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }

  .boutons-group {
    width: 100%;
    margin-bottom: 10px;
  }

  .boutons-group:last-child {
    margin-bottom: 0;
  }

  .populaire {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .card-p-populaire {
    margin-bottom: 0px !important;
  }
  
  .card-text-populaire {
    position: relative;
  }

  .stars2 {
    position: absolute;
    bottom: 10px;
  }

  .search {
    width: 90%;
  }


  
  .boutons-group button {
    width: 50%;
    margin: 5px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

/* Mettre le logo en pleine largeur */
.nav-logo img {
  width: 62px;
  height: 20px;
  justify-content: center;
}

.nav-logo {
  margin-top: 30px;
  margin-bottom: 30px;
}

nav {
  width: 100%;
}

nav ul li {
  width: 50%;
}

nav ul li a {
  font-size: 1.3em;
}

/* Mettre les liens sur une ligne différente */
.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border-bottom: 3px solid transparent;
}

.nav-link li a:hover {
  transition-delay: 0.3s;
  border-bottom: 3px solid #0767FC;
  border-top: none;
}

.btn-search-bar {
  content: "";
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  width: 50px;
  height: 50px;
  border: none;
  vertical-align: middle;
  padding: 15px;
}

i #loupe {
  width: 50px;
  height: 50px;
}

  /* Styles pour la version mobile */
  .btn-search-bar .icon-search {
    display: inline-block;
  }
  .btn-search-bar .text-search {
    display: none;
  }

  .icon-search  {
    display: inline-block;
    vertical-align: middle;
  }

/* ajuster la largeur du champ de recherche */
.input-text { 
  width: 60%; 
}

/* centrage de la barre de recherche */
.search-bar {
text-align: center;
}

.info {
  width: 90%;
}

.card-title3 {
  width: 90%;
}

/* footer {
  width: 92vw;
} */

.footer {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;

}
} 


/* ====================================================== */
/* ================== Ecran mobile ====================== */
/* ====================================================== */

@media screen and (min-width: 576px) and (max-width: 767px) {
    body {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0px;
        padding-right: 0px;
    }

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

     /* Mettre le logo en pleine largeur */
  .nav-logo img {
    width: 62px;
    height: 20px;
    justify-content: center;
  }

  .nav-logo {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  nav {
    width: 100%;
  }

  nav ul li {
    width: 50%;
  }

  nav ul li a {
    font-size: 1.3em;
  }

  /* Mettre les liens sur une ligne différente */
  .nav-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-bottom: 3px solid transparent;
  }

  .nav-link li a:hover {
    transition-delay: 0.3s;
    border-bottom: 3px solid #0767FC;
    border-top: none;
  }

  .btn-search-bar {
    content: "";
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    width: 50px;
    height: 50px;
    border: none;
    vertical-align: middle;
    padding: 15px;
  }

  i #loupe {
    width: 50px;
    height: 50px;
  }

    /* Styles pour la version mobile */
    .btn-search-bar .icon-search {
      display: inline-block;
    }
    .btn-search-bar .text-search {
      display: none;
    }

    .icon-search  {
      display: inline-block;
      vertical-align: middle;

    }


  /* ajuster la largeur du champ de recherche */
  .input-text { 
    width: 60%; 
  }
} 

/* centrage de la barre de recherche */
.search-bar {
  text-align: center;
}

    .section-hebergement {
        display: flex;
        flex-wrap: wrap;
    }

    .hebergement {
        width: 100%;
        order: 2;
        height: auto;
        margin-bottom: 50px;
        background-color: #FFFFFF;
        margin-top: 0;
      }

      .populaire {
        margin-left: 0;
        align-items: flex-start;
        padding: 30px;
        width: 100%;
        text-align: left;
        order: 1;
        border-radius: 0;
        position:relative;
        margin-bottom: 0px;
        justify-content: space-between;
      }

      .card2 {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .card-row2 {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .card {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .card-row {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .card-body {
        width:100%;
        height: 250px;
      }

      .img-card {
        width: 100%;
        height: 180px;
        object-fit: cover;
      }

      .card-title2 {
        font-size: 1.3em;
        font-weight: bold;
        padding-left: 10px;
      }

      .card-p2 {
        font-size: 1em;
        padding-left: 10px;
        margin-top: 7px;
      }

      .card-text2 {
        display: flex;
        flex-direction: column;
        height: 95%;
        align-items: flex-start;
        width: 100%;
      }

      .stars2 {
        font-size: 0.9em ;
        margin-top: auto;
        padding-left: 10px;
      }

      .stars {
        font-size: 0.9em ;
        margin-top: auto;
      }

      .card3 {
        align-items: center;
        width: 93%;
        display: flex;
        flex-direction: column;
      }

      .img-card3 {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center;
      }

      .card-body3 {
        width: 100%;
      }

      .content-card {
        padding: 30px;
      }

      .activite {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      .card-title3 {
        font-size: 1.3em;
        font-weight: bold;
        padding-left: 10px;
      }

      .title-populaire {
        font-size: 1.3em;
        font-weight: bold;
        padding-left: 10px;
      }

      #icon-populaire {
        position: absolute; /* Position absolue pour l'élément enfant */
        right: 0; /* Positionner l'élément enfant à droite de l'élément parent */
        margin-right: 20px;
        width: 18px;
        height: 15.75px;
      }

      .recherche-title {
        font-size: 22px;
        font-weight: bold;
      }

      .recherche.text {
        font-size: 1em;
        line-height: 18.78px;
        padding-top: 10px;
      }

      .title-recherche {
        padding: 25px;
      }

      .hebergement-title {
        margin-top: 15px;
        font-size: 1.3em;
        font-weight: bold;
        padding-left: 10px;
      }

      .filter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
      }

      .btn-filter {
        width:35%;
        margin-bottom: 20px;
        margin-right: 20px;
      }

      .title-filter {
        text-align: left;
        margin-left: 7px !important;
      }

      .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }

      .boutons-group {
        width: 100%;
        margin-bottom: 10px;
      }

      .boutons-group:last-child {
        margin-bottom: 0;
      }
      
      .boutons-group button {
        width: 50%;
        margin: 5px;
      }

          .footer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 30px;
            height: 461px;
            margin: 0;
            padding: 15px;
        }
        .footer > div {
            flex: 0 0 100%;
            margin-bottom: 20px;
        }

        .footer-propos  {
          gap: 19px;
        }

        .footer-propos h4 {
          font-weight: bold;
          font-size: 1.3em;
        }

        .footer-propos p {
          font-size: 1em;
        }

        .footer-hebergement {
          gap: 19px;
        }

        .footer-hebergement h4 {
          font-weight: bold;
          font-size: 1.3em;
        }

        .footer-hebergement p {
          font-size: 1em;
        }

        .footer-assistance {
          gap: 19px;
        }

        .footer-assistance h4 {
          font-weight: bold;
          font-size: 1.3em;
          
        }

        .footer-assistance p {
          font-size: 1em;
        }

        .title-filter {
          text-align: start;
          margin-left: 20px;
        }

        .info p {
          font-size: 1em;
        }

        .stars {
          width: 90%;
          text-align: start;
          padding-bottom: 10px;
        }
      
        .stars2 {
          width: 90%;
          text-align: start;
          padding-bottom: 10px;
          padding-left: 0;
          /* padding-top: auto; */
        }

        .card-body-populaire {
          width: 100%;
          margin: 0;
          padding: 0;
          flex-direction: row;
          background-color: #FFFFFF;
          border-radius: 20px;
          height: 170px;
          margin-left: 5px;
          margin-right: 5px;
        }
      
        .img-card-populaire {
          border: 5px solid #FFFFFF;
          border-radius: 0px ;
          border-radius: 20px 0px 0px 20px;
          object-fit: cover;
        }
      
        .card-text-populaire {
          width: 95%;
          align-items: start;
          padding: 10px;
          border-radius: 20px 0px 0px 20px;
        }
      
        .img-card-pop {
          border-radius: 20px 0px 0px 20px;
          width: 120px;
          height: 100%;
          object-fit: cover;
        }
      
        .card-title-populaire {
          font-weight: bold;
        }

        .card-p-populaire {
          margin-top: 5px;
          margin-bottom: 85px;
        }

/* ====================================================== */
/* ================== Tablette ========================== */
/* ====================================================== */

/* Tablette */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        width: 98vw;

        margin-left: 0;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    header {
      width: 97vw;
    }

    .nav-logo img {
      width: 62px;
      height: 20px;
      justify-content: center;
      padding-left: 10px;
    }

  

    .title-recherche {
      padding-left: 10px;
    }

    .recherche-title {
      font-size: 1.5em;
    }

    .search-bar {
      text-align: start;
      padding-left: 10px;
    }

    .filter {
      display:flex;
      flex-direction:column;
      text-align: start;
      align-items: flex-start;
      padding-left: 10px;
      margin-left: 0px;
    }

    .title-filter {
      clear: right;
      text-align: start;
      margin-left: 0px;
      margin-bottom: 10px;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      width:  100%;
      align-items: flex-start;
      padding: 0px;
      text-align: left;
      border-radius: 15px;
      margin-left:-27px;
    }

    .btn-filter {
      width: 20%;
    }

    .btn-title {
      margin-left: 10px;
    }


    .section-hebergement {
        display: flex;
        flex-wrap: wrap;
    }

    .hebergement {
      order: 1;
      float: right !important;
      clear: right;
      text-align: right;
      background-color: #F2F2F2;
      width: 97vw;
      margin-left: 13px;
      /* justify-content: center; */
      }

      .hebergement-title {
        display: flex;
        align-items:flex-start;
        margin-top: 15px;
      }

      .card-row {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
      }

      .card-row2 {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
      }

      .card-body {
        width:100%;
      }

      .img-card {
        width: 100%;
        height: 150px;
        object-fit: cover;
      }

      .populaire {
        align-items: flex-start;
        width: 97vw;
        margin-left: 13px;
        height: 230px;
        text-align: left;
        border-radius: 15px;
        margin-bottom: 35px;
      }

      .card2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 10px;
      }

      .img-card2 {
        width: 100px;
        object-fit: cover;
      }

      .card-title2 {
        font-size: 0.9em ;
        font-weight: bold;
      }

      .card-p2 {
        padding-top: 5px;
        font-size: 0.7em ;
      }

      .card-text2 {
        display: flex;
        flex-direction: column;
        height: 95%;
        align-items: flex-end;
      }

      .stars2 {
        font-size: 0.5em ;
        margin-top: auto;
      }

      .stars {
        font-size: 0.9em ;
        margin-top: auto;
      }

      .card-body2 {
        width:100%;
      }

      .img-card3 {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
    
      .content-card {
        font-size: 0.9em;
        padding: 15px;
        height: 41px;
      }

      .card-body3 {
        margin: 0;
        padding:0;
      }
      .card3 {
        align-items: center;
        gap: 15px;
        width: 95vw;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 3px;
      }

      .btn-search-bar .icon-search {
        display: none;
      }
      .btn-search-bar .text-search {
        display: inline-block;
      }
      
      .footer {
        display: flex;
        flex-direction: column;
        height: 150px;
        margin: 30px 0 0 0;
        width:100vw;
        padding: 0 0 30px 0;

      } 

      .footer-propos {
        margin-top: 50px;
      }

      .footer-hebergement {
        margin-top: 50px;
      }

      .footer-assistance {
        margin-top: 50px;
      }

      .stars {
        width: 90%;
        text-align: start;
        padding-bottom: 10px;
      }
    
      .stars2 {
        width: 90%;
        text-align: start;
        padding-bottom: 10px;
        font-size: 0.7em;
        /* margin-top: auto !important; */
        position: absolute;
        bottom: 5px;
      }

      .card-body-populaire {
        width: 100%;
        margin: 0;
        padding: 0;
        flex-direction: row;
        background-color: #FFFFFF;
        border-radius: 20px;
        height: 150px;
      }
    
      .img-card-populaire {
        /* width: 100%; */
        border: 5px solid #FFFFFF;
        border-radius: 0px ;
        border-radius: 20px 0px 0px 20px;
        margin-right: 0;
        /* height: 120px; */
        /* object-fit: cover; */
      }
    
      .card-text-populaire {
        width: 95%;
        align-items: start;
        padding-left: 0px;
        border-radius: 20px 0px 0px 20px;
        position: relative;
      }

      .card-p-populaire {
        margin-top: 5px;
        font-size: 0.8em;
        /* margin-bottom: 50px; */
      }
    
      .img-card-pop {
        border-radius: 20px 0px 0px 20px;
        width: 80px;
        height: 100%;
        object-fit: cover;
      }
    
      .card-title-populaire {
        font-weight: bold;
        font-size: 0.9em;
      }

}

/* ====================================================== */
/* ================== Ecran version desktop ============= */
/* ====================================================== */

@media screen and (min-width: 1024px) and (max-width: 1439px){
  body {
    margin-left: 0;
    margin-right: 0;
    padding-left: 3%;
    padding-right: 3%;

}

.nav-logo img {
  width: 62px;
  height: 20px;
  justify-content: center;
}

.title-recherche {
  padding-left: 0;
}

.section-hebergement {
  gap: 20px;
  margin-right: 0;
}
.populaire {
    float: left !important;
    width: 25%;
    border-radius: 15px;
    margin-bottom: 0px;
    height: 538px;
    
  }
  .hebergement {
    order: 1;
    float: right !important;
    width: 60%;
    clear: right;
    text-align: right;
    background-color: #F2F2F2;
    gap: 0px;
    margin-bottom: 30px;
  }

  .card-hebergement {
    margin:0;
    gap: 0px;
  }

  .hebergement-title {
    display: flex;
    align-items:flex-start;
    margin-top: 20px;
    margin-bottom: 3px;
  }

  #hebergement-title {
    display: flex;
    align-items:flex-start;
    margin-top: 0px;
    margin-bottom: 23px;
  }

  .card1 {
    width: 100% !important;
  }

  .card-title {
    font-size: 0.9em;
  }

  .card-text {
    font-size: 0.9em;
  }

  .card-row {
    display: flex;
    flex-direction: row ;
    width: 100% !important;
    gap: 15px;
  }

  .card-row2 {
    display: flex;
    flex-direction: row ;
    width: 100%;
    gap: 15px;
  }

  .card3 {
    display: flex;
    flex-direction: row;
  }
  .card-body {
    width:45%;
    height: 207px;
  }

  .img-card {
    width: 100%;
    height: 114px;
    border: 3px solid #FFFFFF;
    object-fit: cover;
  }

  .card-body-populaire {
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 135px;
  }

  .img-card-populaire {
    border: 5px solid #FFFFFF;
    border-radius: 0px ;
    border-radius: 20px 0px 0px 20px;
  }

  .card-text-populaire {
    width: 95%;
    align-items: start;
    padding: 5px;
    border-radius: 20px 0px 0px 20px;
    position: relative;
  }

  .img-card-pop {
    border-radius: 20px 0px 0px 20px;
    width: 120px;
    height: 100%;
  }

  .card-title-populaire {
    font-weight: bold;
    font-size: 0.9em;
  }

  .card-p-populaire {
    font-size: 0.9em;
  }


  .stars2 {
    margin-top:0;
    font-size: 12px !important;
    position: absolute;
    bottom: 0px;
  }

  .img-card2 {
    width: 100px;
    margin: 0;
    padding: 0;
    height: 130px;
    object-fit: cover;
  }

  .card-text2 {
    width: 100%;
    align-items: start;
  }

  .card-title2 {
    flex-direction: row;
    font-size: 0.9em;
    font-weight: bold;
    width: 100%;
  }

  .card-p2 {
    font-size: 0.7em;
  }

  .stars2 {
    font-size: 0.6em;
    width: 90%;
    padding-bottom: 10px;
    margin-top: auto;
  }

  .card-body2 {
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
  }

  .card-body3 {
    width: 25%;
  }

  .img-card3 {
    width: 245px;
    height: 250px;
    object-fit: cover;
  }

  .card-row {
    width: 100%;
  }

  .btn-search-bar .icon-search {
    display: none;
  }
  .btn-search-bar .text-search {
    display: inline-block;
  }

  .footer {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 89vw;
  } 

  .footer > div {
    margin-bottom: 0px;
    margin-top: 30px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .btn-filter {
    width: 20%;
  }

  .img-card3 {
    width: 100%;
    object-fit: cover;
  }

  .content-card {
    font-size: 0.9em;
    padding: 15px;
    height: 41px;
  }

  .footer-propos {
    margin-top: 50px;
  }

  .footer-hebergement {
    margin-top: 50px;
  }

  .footer-assistance {
    margin-top: 50px;
  }

  .filter {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 0;
  }

  .title-filter {
    order: 1;
    float: right !important;
    clear: right;
    text-align: right;
    padding-left: 0;
    margin-left: 0;
    padding-top: 12px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    order: 2;
    width: 90%;
    align-items: flex-end;
    text-align: left;
    border-radius: 15px;
  }

  .btn-filter {
    width: 21%;
    
  }

  .btn-title {
    margin-left: 10px;
  }

  .search-bar {
    text-align: start;
  }

  .stars {
    width: 90%;
    text-align: start;
    padding-bottom: 10px;
  }
}

/* ====================================================== */
/* ================== Ecran Extra Extra large =========== */
/* ====================================================== */

/* xxl */
@media screen and (min-width: 1440px)  {
    body {
      margin-left: 10vw;
      margin-right: 10vw;
      padding-left: 0;
      padding-right:0;
    }

    .nav-logo img {
      width: 62px;
      height: 20px;
      justify-content: center;
    }
  
    .title-recherche {
      padding-left: 0;
    }

    .btn-search-bar .icon-search {
      display: none;
    }
    .btn-search-bar .text-search {
      display: inline-block;
    }

    .search-bar {
      text-align: start;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
    
    .filter {
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding-left: 0;
    }

    .title-filter {
      order: 1;
      float: right !important;
      clear: right;
      text-align: right;
      padding-left: 0;
      margin-left: 0;
      padding-top: 12px;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      order: 2;
      width: 90%;
      align-items: flex-end;
      text-align: left;
      border-radius: 15px;
    }

    .btn-filter {
      width: 21%;
    }

    .btn-title {
      margin-left: 10px;
    }

    .section-hebergement {
      gap: 3%;
      width: 100%;
    }

    .populaire {
        float: left !important;
        width: 27%;
        text-align: left;
        border-radius: 15px;
        height: 640px;
        justify-content: space-between;
      }
      .hebergement {
        order: 1;
        float: right !important;
        width: 55%;
        clear: right;
        text-align: right;
        background-color: #F2F2F2;
      }

      .hebergement-title {
        display: flex;
        align-items:flex-start;
        margin-top: 15px;
      }

      .card1 {
        width: 100% !important;
      }

      .card-row {
        display: flex;
        flex-direction: row ;
        width: 100% !important;
      }

      .card-body {
        width:100%;
      }
    
      .img-card {
        width: 100%;
        height: 150px;
        object-fit: cover;
      }

      .card2 {
        margin-top:-150px;
      }

      .card-body2 {
        width: 100%;
      }

      .card-row2 {
        display: flex;
        flex-direction: row ;
        width: 100%;
      }

      .card-p-populaire {
        margin-bottom: 85px !important;
        margin-top: 5px;
      }

      .card-body-populaire {
        height: 170px;
      }

      .card-text-populaire {
        position: relative;
      }

      .card3 {
        display: flex;
        flex-direction: row;
        width: 93%;
        margin-right: 0;
      }

      .card-body3 {
        width: 25%;
        max-width: 400px;

      }

      .img-card3 {
        width: 100%;
        object-fit: cover;

      }
    
      .content-card {
        font-size: 0.9em;
        padding: 15px;
        height: 45px;
      }

      .card-row {
        width: 100%;
      }

      .stars {
        width: 90%;
        text-align: start;
        padding-bottom: 10px;
      }
      .stars2 {
        width: 90%;
        text-align: start;
        padding-bottom: 10px;
        position: absolute;
        bottom: 10px;
      }

      footer {
        /* width: 89vw !important; */
        
      }

      .footer {
        display: flex;
        flex-direction: column;
        height: 150px;
        width: 77vw;
        gap: 0px;


      } 

      .footer > div {
        margin-bottom: 0px;
        margin-top: 30px;
      }

      .footer-propos {
        margin-top: 50px;
      }

      .footer-hebergement {
        margin-top: 50px;
      }

      .footer-assistance {
        margin-top: 50px;
      }
}


/* ====================================================== */
/* ====================================================== */
/* ====================================================== */

